*.DS_Store
.classpath
.project
.settings
bin/
target/
dist/
logs/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
hs_err_pid*
echo.properties
src/main/java/topsecret/
/dlc.bak
/dlc.bak.bak
src.bak/
.github/
.vscode/
.echo.properties
.env
Dockerfile
docker-compose.yml
.dockerignore
stun.conf
backend/
db/
